# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# Node & Build artifacts
node_modules/
dist/
tmp/
temp/
logs/
*.log
**/dump.rdb
**/.DS_Store

# Cache files
cache/*
!cache/.gitkeep

# Local user private configurations
config/local.zsh
*.local.zsh

# Config backup files
*.bak
*.bak.*
cfg
cfg/*
